@model MovieService.Models.Movie

@using Microsoft.AspNetCore.Identity
@using MovieService.Areas.Identity.Data

@inject SignInManager<MovieServiceUser> SignInManager
@inject UserManager<MovieServiceUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div>
    <h4>Movie</h4>
    <hr />
    <div class="text-center">

        @if (SignInManager.IsSignedIn(User))
        {
            <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
        }

        @if (SignInManager.IsSignedIn(User)) 
        { 
            <a class="btn btn-outline-warning" asp-action="Comment" asp-route-id="@Model.ID">Comment</a>
        }

        @if (SignInManager.IsSignedIn(User))
        {
            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
        }
    </div>
    <hr />
    <div class="card mb-3" style="max-width: 1000px; margin-top: 10px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Url.Content(Model.Thumbnail)" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <dl class="row">
                        <h1 style="margin-bottom: 30px;">@Html.DisplayFor(model => model.Name)</h1>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ProductionCountries)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ProductionCountries)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Genres)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Genres)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ReleaseDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ReleaseDate)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>
<div>

    
    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="btn btn-outline-danger" asp-action="Index">Back to List</a>
    
    
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="New" asp-controller="Watchlist" asp-route-movieID="@Model.ID">Add to Watchlist</a>
    }
</div>